@media (max-width: 767px) {   
  .wrapper{     
    max-width: 98vw;
  }

  .main-left{
    flex-flow: row wrap-reverse !important;
  }

  .sidebar{
    width: 100% !important;
  }
  

  h1{
    font-size: 8vw !important;
    line-height: 4vh !important;
    margin: 0px 0% 5% 0 !important;
  }

  .carousel-logo{
    margin: 0;
    max-width: 95vw;
    height: auto;
  }

  .side-menu, .sidebar-extra{
    display: none !important;
  }

  .side-subcontact, .sidebar-subtitle{
    display: unset !important;
  }

  .container {
    display: flex !important;
  }

  sidebar-title{
    display: unset !important;
    width: 205px;
    margin: 0 auto;
  }

  
}

/* @media (max-width: 767px) {   
  .nav-prev{     
    position:absolute;     
    bottom:0;     
    left:0;
  }
} */

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  max-width: 55vw;
  justify-content: center;
  margin: auto;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

/* .footer {
  background: lightgreen;
} */

.footer-menu{
  width: 25vw;
  margin: 15px 0px 35px 35px;
}

.side-menu{
  display: unset;
  margin-top: 160px;
}

.main {
  text-align: left;
  /* background: deepskyblue; */
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.main-left{
  flex-flow: row;
  display: flex;
}

.sidebar{
  text-align: left;
}

.carousel{
    text-align: right;
}

.carousel-logo{
  margin: -20px 0;
  max-height: 682px;
}

.sidebar-extra {
  display: unset;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1.3px;
  padding-bottom: 100px;
  margin-top: -31vh !important;
}

.sidebar-mobile {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.3px;
}

.main-logo{
  height: 200px;
}

body {
  padding: 2em;
  background-color: #f3863c;
}

h1, h2, .footer p, .body-num, .body-media{
  font-family: sans-serif;
}

h1, h2, .body-text{
  margin-left: 35px;
}

h1, h2{
  letter-spacing: -1px;
}

h2{
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1.3px;
}

.sidebar-title, .sidebar-subtitle, .side-subcontact{
  display: none;
}

h1{
  color: #FFFFFF;
  font-weight: 800;
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
  line-height: 55px;
  text-align: center;
  margin: 0px 383px 50px 0;
}

.sidebar-subtitle{
  font-size: 24px;
  font-weight: 700;
}

 p{
  color: #2c2e35;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: initial;
  text-align: left;
  /* display: none; */
}

.body-text{
  font-weight: normal;
  font-family: serif;
  font-size: 17.5px;
}

.body-num{
  color: #f37e38;
  font-weight: bold;
}

.body-media{
  color: #6b6c70;
  font-weight: bold;
}

.ipad-div{
  overflow: hidden;
  width: auto;
  max-height: 682px;
}

.filler{
  color: #f37e38;
  width: auto;
}

.container {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  flex: 0 32%;
  height: 100px;
  margin-bottom: 2%; /* (100-32*3)/2 */
}
