.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  max-width: 55vw;
  justify-content: center;
  margin: auto;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

/* .footer {
  background: lightgreen;
} */

.footer-menu{
  width: 25vw;
  margin: 15px 0px 35px 35px;
}

.side-menu{
  margin-top: 160px;
}

.main {
  text-align: left;
  /* background: deepskyblue; */
  display: flex;
  flex-flow: row;
}

.main-left{
  flex-flow: row;
  display: flex;
}

.sidebar{
  text-align: left;
}

.carousel{
    text-align: right;
}

.carousel-logo{
  margin: -45px 0;
  height: 750px;
}

.main-logo{
  height: 200px;
}

body {
  padding: 2em;
  background-color: #f3863c;
}

h1, h2, .footer p, .body-num, .body-media{
  font-family: sans-serif;
}

h1, h2, .body-text{
  margin-left: 35px;
}

h1, h2{
  letter-spacing: -1px;
}

h2{
  color: #6b6c70;
  font-style: italic;
  font-weight: bold;
  font-size: 32px;
}

h1{
  color: #FFFFFF;
  font-weight: 800;
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
  line-height: 55px;
  text-align: center;
  margin: 0px 425px 50px 0;
}

.footer p{
  color: #2c2e35;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: initial;
  text-align: left;
}

.body-text{
  font-weight: normal;
  font-family: serif;
  font-size: 17.5px;
}

.body-num{
  color: #f37e38;
  font-weight: bold;
}

.body-media{
  color: #6b6c70;
  font-weight: bold;
}

.ipad-div{
  overflow: hidden;
  width: auto;
  height: 682px;
}